{% extends "main.html" %} {% block tabs %} {{ super() }} {% endblock %} {% block
content %}
<div class="home-intro">
    <h1 class="home-intro__name">P. Bhanuprasad</h1>
    <p class="home-intro__tagline">
        Notes on algorithms, data engineering, and software.
    </p>
</div>

<div class="home-posts">
    <h2 class="home-posts__heading">Recent Posts</h2>

    {% for post in blog_pages | reverse %}
    <article class="home-post">
        <time class="home-post__date" datetime="{{ post.config.date.created }}">
            {{- post.config.date.created | date -}}
        </time>
        <h3 class="home-post__title">
            <a href="{{ post.url | url }}">{{ post.title }}</a>
        </h3>
        {% if post.meta.description %}
        <p class="home-post__excerpt">{{ post.meta.description }}</p>
        {% endif %}
    </article>
    {% endfor %}
</div>
{% endblock %} {% block footer %} {{ super() }} {% endblock %}
