{% extends "main.html" %}
{% block tabs %}
  {{ super() }}

  <!-- The big featured header  ; (43, 58, 153) -->
  <header style="background-image: linear-gradient(rgba(20, 20, 20, 0.99), rgba(20, 30, 120, 0.8)), url('assets/images/grey_paper.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center center; height: 90vh; position: relative;">
        
    <div style="text-align: center; padding-top: calc(55vh - 120px);">
      <p style="margin-bottom: 25px;">
        <a href="About/about/" style="color: white; text-decoration: none; font-size: 16px; letter-spacing: 1px; opacity: 0.8; transition: opacity 0.3s;">ABOUT</a>
      </p>
      <p style="margin-bottom: 25px;">
        <a href="blog/" style="color: white; text-decoration: none; font-size: 16px; letter-spacing: 1px; opacity: 0.8; transition: opacity 0.3s;">BLOG</a>
      </p>
      <p style="margin-bottom: 25px;">
        <a href="resources/blogs/" style="color: white; text-decoration: none; font-size: 16px; letter-spacing: 1px; opacity: 0.8; transition: opacity 0.3s;">RESOURCES</a>
      </p>
      <p style="margin-bottom: 25px;">
        <a href="Algorithms/" style="color: white; text-decoration: none; font-size: 16px; letter-spacing: 1px; opacity: 0.8; transition: opacity 0.3s;">MY NOTES ON ALGORITHMS</a>
      </p>
      <h1 style="font-size: 40px; font-weight: 300; letter-spacing: 2px; text-transform: uppercase; margin-bottom: 5px; color: white; text-shadow: 0 2px 4px rgba(0,0,0,0.4);">
        Bhanuprasad Patibandala
      </h1>
      <p style="font-size: 18px; color: rgba(255,255,255,0.9); margin-top: 10px; letter-spacing: 1px; font-weight: 300;">
        (Bhanu)
      </p>
      <p style="font-size: 18px; color: rgba(255,255,255,0.9); margin-top: 10px; letter-spacing: 1px; font-weight: 300;">
        Data Engineer | West Chester, PA
      </p>
    </div>

    <div style="text-align: center; position: bottom; left: 0; right: 0;margin-top: auto;">
      <a href="#start-blog-entries-overview" title="Scroll down to blog entries">
        <span class="twemoji homepage_icon homepage_arrow" style="width: 1.5rem; opacity: 0.7; transition: opacity 0.3s;">
          {% include ".icons/octicons/chevron-down-24.svg" %} 
        </span>
      </a>
    </div>

  </header>

{% endblock %}

{% block content %}

  <div id="start-blog-entries-overview">
  </div>

  {% for post in blog_pages|reverse %}
  
  <article class="md-post md-post--excerpt" style="margin-bottom: 0.5rem;">
    <header class="md-post__header">
      <div class="md-post__meta md-meta">
        <time datetime="{{ post.config.date.created }}">
          {{- post.config.date.created | date -}}
        </time> - {{ post.config.readtime }} min read          
      </div>
    </header>

    <div class="md-post__content md-typeset">
      <h2><a class="toclink" href="{{ post.url }}">{{ post.title }}</a></h2>
    </div>

  </article>
    
  {% endfor %}

{% endblock %}


{% block footer %}
  {{ super() }}
{% endblock %}