mkdocs>=1.5.0
mkdocs-material>=9.0.0
#mkdocs-awesome-pages-plugin>=2.9.0
mkdocs-git-revision-date-localized-plugin>=1.2.0
mkdocs-minify-plugin>=0.6.0
pymdown-extensions>=10.0.0
pillow>=9.5.0
cairosvg>=2.7.0
mkdocs-gen-files
mkdocs-glightbox>=0.4.0
mkdocs-awesome-nav
